<div class="header bg-white line w-screen md:w-full  px-4 py-3 shadow-md justify-between flex items-center">
  <span  class="px-5 text-xl  font-bold bg-gradient-to-r from-blue to-green inline-block text-transparent bg-clip-text">Gestão de Licenças</span>
  <span class="px-5 text-xl  font-bold bg-gradient-to-r text-blue hover:cursos-pointer">
  <i  class="pi pi-user pr-7" ></i>
  <i  class="pi pi-sign-out" routerLink="/login" ></i>
  </span>
</div>
<div class="h-1 w-1"></div>
<div class="flex justify-start ml-10 mt-2 ">
  <i  pTooltip="Cadastrar nova licença" tooltipEvent="hover"
     style="font-size: 1rem"
     (click)="toggleNewLicenseCard()"
     class=" shadow-md pi pi-plus rounded-full bg-blue text-white p-4 cursor-pointer hover:bg-green delay-150 transition ease-in-out duration-300">
  </i>
</div>
<div class="p-6">
  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Card de Usuários Fixos -->
      <div class="shadow-md border-1 border-gray-100 text-gray-400 p-5 rounded-3xl bg-white">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-medium">Usuários Fixos</h3>
          <span class="pi pi-lock text-white bg-green rounded-full p-3"></span>
        </div>
        <p class="text-4xl text-gray-600 font-medium">{{ fixedUsersCount }}</p>
      </div>
  
      <!-- Card de Usuários Dinâmicos -->
      <div class="shadow-md border-1 border-gray-100 text-gray-400 p-5 rounded-3xl bg-white">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-medium">Usuários Dinâmicos</h3>
          <span class="pi pi-history text-white bg-orange-400 rounded-full p-3"></span>
        </div>
        <div class="flex justify-between items-end">
          <p class="text-4xl text-gray-600 font-medium">{{ dinamicUsersCount }}</p>
         
        </div>
        <div class="mt-10 relative shadow-md border-1 border-gray-100 text-gray-400 p-5 rounded-3xl bg-white">
          <span class="block mb-3">Limite de Licenças Dinâmicas:</span>
        
          <div class="flex items-center gap-4">
            <span class="font-medium text-gray-700">0</span>
            <p-slider 
              [(ngModel)]="MAX_DYNAMIC_LICENSES" 
              [min]="0" 
              [max]="10" 
              [step]="1" 
              class="flex-1">
            </p-slider>
            <span class="font-medium text-gray-700">{{ MAX_DYNAMIC_LICENSES }}</span>
          </div>
        </div>

        <!-- Card Estático de Nova Licença -->
        <p-dialog [modal]="true" [(visible)]="showNewLicenseForm" [style]="{ width: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
          <div *ngIf="showNewLicenseForm" >
            <h3 class="text-lg font-semibold mb-4 text-gray-800">Nova Licença</h3>
            <form (ngSubmit)="createLicense()" #licenseForm="ngForm" class="space-y-4">
              <div class="flex flex-col">
                <label class="text-sm font-medium text-gray-700">Nome</label>
                <input type="text" [(ngModel)]="newLicense.licenseName" name="namenew" required
                  class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
              </div>
              
              <div>
                <label class="block text-sm font-medium text-gray-600">Tipo de Licença</label>
                <select [(ngModel)]="newLicense.licenseType" name="licensenew" required class="w-full p-2 border rounded-md">
                  <option value="" disabled selected>Selecione</option>
                  <option value="personalizada">Personalizada</option>          
                </select>
              </div>
            
              <div class="flex flex-col">
                <label class="text-sm font-medium text-gray-700">Descrição</label>
                <textarea [(ngModel)]="newLicense.licenseDescription" name="descriptionnew" required
                  class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" rows="4"></textarea>
              </div>
        
              <button type="submit" [disabled]="!licenseForm.form.valid"
                class="bg-blue hover:bg-green text-white px-4 py-2 rounded-md transition">
                Cadastrar
              </button>
            </form>
          </div>
        </p-dialog>
        
      
      </div>
      <!-- Lista de Licenças Cadastradas -->
     
<div class="grid grid-cols-2 md:grid-cols-1 gap-6 mt-6">
  <span  class="px-5 text-xl  font-medium bg-gradient-to-r from-blue to-green inline-block text-transparent bg-clip-text">Licenças Personalizadas</span>
  <div *ngFor="let lic of manualLicenses" class="shadow-md border border-gray-100 p-5 rounded-3xl bg-white">
    <div class="flex justify-between items-center mb-2">
      <h3 class="text-lg font-semibold text-gray-800">{{ lic.licenseName }}</h3>
      <span [ngClass]="{
        'bg-blue-100 ': lic.licenseType === 'personalizada',
       
      }" class="text-blue-800  text-xs font-semibold border border-blue-300 px-3 py-1 rounded-full capitalize">
        {{ lic.licenseType }}
      </span>
    </div>
    <p class="text-sm text-gray-600 mt-2">Descrição: {{ lic.licenseDescription }}</p>
  </div>
</div>
    </div>
  </div>