@if (isNewUser == false) {
<div class="relative p-10 justify-end">  
  <button class=" w-max flex-end justify-items-center hover:transition-all px-3 py-2 text-sm font-medium text-center text-white bg-blue rounded-lg hover:bg-green" (click)="changeView()">Cadastrar novo usuário</button>
</div>

<div class="relative px-10 mx-auto flex flex-1/2 rounded-lg">
  
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr class="rounded-lg">
                <th scope="col" class="px-6 py-3">
                   Nome
                </th>
                <th scope="col" class="px-6 py-3">
                    CPF
                </th>
                <th scope="col" class="px-6 py-3">
                    Tipo de Licença
                </th>
                <th scope="col" class="px-6 py-3">
                    E-mail
                </th>
                <th scope="col" class="px-6 py-3">
                   Ações
                </th>
            </tr>
        </thead>
        <tbody class="justify-items-center ">
              <tr *ngFor="let user of users" class="bg-white border-b border-gray-200 rounded-lg ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{ user.Name }}
                </th>
                <td class="px-6 py-4">
                    {{ user.cpf }}
                </td>
                <td class="px-6 py-4">
                   @if (user.isFixed === true)  {
                    <span class="inline-flex items-center bg-orange-100 text-orange-200 text-xs font-medium px-2.5 py-0.5 rounded-md border-1 border-orange-200">
                        Dinâmica
                    </span>
                   }
                   @else {
                    <span class="inline-flex items-center bg-green-100 text-green text-xs font-medium px-2.5 py-0.5 rounded-md border-1 border-green ">
                        Fixa
                    </span>
                   }
                </td>
                <td class="px-6 py-4">
                     {{ user.email}}
                </td>
                <td>
                  
                  <p-button (click)="deleteUser(user)"label="Delete" icon="pi pi-trash" />
               
              </td>
                
            </tr>
        </tbody>
    </table>
    <div class="relative p-10 mx-auto flex flex-col flex-1/2 rounded-lg">
      <p class="text-lg font-semibold">Usuários dinâmicos: {{ fixedUsersCount }}</p>

      <p class="text-lg font-semibold">Usuários fixos: {{ dinamicUsersCount }}</p>
    </div>
  
</div>  
  } @else {
    <form [formGroup]="profileForm"  class="max-w-sm mx-auto">
      <div class="py-10 font-sans font-bold text-xl">Cadastro de novo usuário</div>
  <!-- Nome -->
    <div class="mb-5">
        <label for="nome" class="block mb-2 text-sm font-medium text-gray-900">Nome</label>
        <input 
        type="text" 
        id="name" 
        formControlName="Name" 
        placeholder="Nome"
        required 
        minlength="3"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-300" required />
        <div *ngIf="Name?.errors?.['required'] "class="text-sm text-danger">
            ⓘ O nome é obrigatório.
        </div>
        <div *ngIf="Name?.errors?.['minlength'] "class="text-sm text-danger">
            ⓘ O nome deve ter no mínimo 3 caracteres.
        </div>
        <div *ngIf="Name?.errors?.['maxlength'] "class="text-sm text-danger">
            ⓘ O nome deve ter no máximo 10 caracteres.
        </div>
        <div *ngIf="Name?.errors?.['namePattern']" class="text-sm text-danger">
            ⓘ O nome deve ser único <br>
            ⓘ Não deve conter espaços<br>
            ⓘ Deve ser apenas alfanumérico<br>
        </div>
        <div *ngIf="Name?.valid && (Name?.dirty || Name?.touched)" class="text-sm text-green">
            ⓘ Nome válido!
        </div>
          
    </div>

    <!-- Email -->
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-mail</label>
        <input type="email" id="email" formControlName="email" placeholder="usuario@gmail.com"
          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-300" />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['email']" class="text-sm text-danger">
                O formato do e-mail é inválido!
            </div>
        </div>
        </div>
    <!-- CPF -->
      <div class="mb-5">
        <label for="cpf" class="block mb-2 text-sm font-medium text-gray-900">CPF</label>
        <input type="text" id="cpf" formControlName="cpf" placeholder="123.456.789-00"
          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-300" />
      </div>

    <!-- Senha -->
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Senha</label>
        <input type="password" id="password" formControlName="password"
          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-300" required />
          <ul>
            <div *ngIf="password?.errors?.['passwordPattern']" class="text-sm text-danger">
               ⓘ A senha precisa conter pelo menos uma letra maiúscula e um número.
              </div>
              <div *ngIf="password?.errors?.['minlength']" class="text-sm text-danger">
                ⓘ A senha precisa ter mais de 3 caracteres
              </div>
              <div *ngIf="password?.errors?.['required'] "class="text-sm text-danger">
                ⓘ A senha é obrigatória.
            </div>
            <div *ngIf="password?.valid && (Name?.dirty || password?.touched)" class="text-sm text-green">
                ⓘ Senha válida!
            </div>
            
          </ul>
        </div>

    <!-- Fixo/Dinâmico -->
      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <input id="terms" type="checkbox" formControlName="isFixed"
            class="w-4 h-4 border border-blue rounded-sm bg-blue focus:ring-3 focus:ring-blue" />
            
        </div>
        <label for="terms" class="ms-2 text-sm font-medium text-gray-600">Usuário é dinâmico?</label>
      </div>
  
    <!-- Botão de envio -->
    <button 
    type="submit"
    [disabled]="profileForm.invalid"  
    [ngClass]="{
      'bg-blue': !profileForm.invalid,  
      'bg-gray-300 cursor-not-allowed': profileForm.invalid  
    }"
    (click)="createUser()"
    class="text-white hover:bg-green focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
    Registrar novo usuário
  </button>
  

       
      
      
    </form>
  }
  