

<div class="header bg-white line w-screen md:w-full  px-4 py-3 shadow-md justify-between flex items-center">
  <span  class="px-5 text-xl  font-bold bg-gradient-to-r from-blue to-green inline-block text-transparent bg-clip-text">Gestão de usuários</span>
  <span class="px-5 text-xl  font-bold bg-gradient-to-r text-blue hover:cursor-pointer">
  <i  class="pi pi-user pr-7" ></i>
  <i  class="pi pi-sign-out" routerLink="/login" ></i>
  
  </span>
</div>
<div class="h-1 w-1"></div>
<p-toast></p-toast>
<div class="flex flex-col flex-1 p-6 bg-background-100 min-h-screen">

<div class="relative py-0 px-0 pb-3 justify-end bg-background-100"> 
  <main class="flex-1 p-0 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
  <div class="flex justify-start ">
    <i (click)="showDialog()" pTooltip="Cadastrar novo usuário" tooltipEvent="hover"
       style="font-size: 1rem"
       class=" shadow-md pi pi-plus rounded-full bg-blue text-white p-4 cursor-pointer hover:bg-green delay-150 transition ease-in-out duration-300">
    </i>
  </div>
  
</div>

<div class="bg-background-100 h-screen">
  <div class="flex-1 overflow-auto">
    <p-table [value]="users" [rowHover]="true" class="w-full text-sm text-left text-gray-500 shadow-md">

      <!-- table header -->
      <ng-template pTemplate="header">
        <tr class="text-xs text-gray-700 uppercase bg-gray-100 rounded-2xl">
          <th class="px-6 py-4 font-medium" pSortableColumn="Name">
            Nome
            <p-sortIcon field="Name" />
          </th>
          <th class="px-6 py-4 font-medium" pSortableColumn="cpf">
            CPF
            <p-sortIcon field="cpf" />
          </th>
          <th class="px-6 py-4 font-medium" pSortableColumn="license">
            Tipo de Licença
            <p-sortIcon field="license" />
          </th>
          <th class="px-6 py-4 font-medium" pSortableColumn="email">
            E-mail
            <p-sortIcon field="email" />
          </th>
          <th class="px-6 py-4 font-medium">
            Ações
          </th>
        </tr>
      </ng-template>

      <!-- Body -->
      <ng-template pTemplate="body" let-user>
        <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 transition-all duration-200 ease-in-out">
          <td class="px-6 py-4 text-gray-900 font-medium whitespace-nowrap">
            
            {{ user.Name }}
            <span pTooltip="Usuário já usou a licença hoje" tooltipEvent="hover"
      *ngIf="hasUserLoggedToday(user.Name)" 
      class="inline-flex items-center rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800"
    >
      <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-green-500" fill="currentColor" viewBox="0 0 8 8">
        <circle cx="4" cy="4" r="3" />
      </svg>
      Hoje
    </span>
          </td>
          <td class="px-6 py-4">
            {{ user.cpf }}
          </td>
          <td class="px-6 py-4">
            <ng-container [ngSwitch]="user.license">
              <span *ngSwitchCase="'dinâmico'"
                class="inline-flex items-center bg-orange-100 text-orange-800 text-xs font-semibold px-3 py-1 rounded-full border border-orange-300">
                Dinâmica
              </span>
            
              <span *ngSwitchCase="'fixo'"
                class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-3 py-1 rounded-full border border-green-300">
                Fixa
              </span>
            
              <span *ngSwitchDefault
              class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-3 py-1 rounded-full border border-blue-300">
              {{user.license}}
              </span>
            
              
            </ng-container>
            
          </td>
          <td class="px-6 py-4">
            {{ user.email }}
          </td>
          <td class="px-6 py-2">
            <p-button 
              [rounded]="true"
              [text]="true"
              type="button" 
              (click)="deleteUser(user)" 
              icon="pi pi-trash" 
              severity="danger"
              variant="outlined"
            />
            <p-button 
              [rounded]="true"
              [text]="true"
              type="button" 
              (click)="editUser(user)"
              icon="pi pi-pencil" 
              severity="info"
              variant="outlined"
            />
          </td>
        </tr>
      </ng-template>

    </p-table>
    </div>
  </div>

  <!-- Cadastro -->
  <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <form [formGroup]="profileForm" class="max-w-sm mx-auto p-5 space-y-6" (ngSubmit)="handleSubmit()">
      <div class="text-center font-sans font-bold text-2xl text-transparent bg-gradient-to-r from-blue to-green inline-block bg-clip-text">
        Cadastro de novo usuário
      </div>

      <!-- Nome -->
      <div class="flex flex-col">
        <label for="nome" class="text-sm font-medium text-gray-700">Nome</label>
        <input type="text" id="name" formControlName="Name" placeholder="Nome" minlength="3"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2  focus:ring-green focus:outline-none transition duration-300" />
        <div *ngIf="Name?.errors?.['required'] && (Name?.dirty || Name?.touched)" class="text-sm text-red-600 mt-1">
          ⓘ O nome é obrigatório.
        </div>
        <div *ngIf="Name?.errors?.['minlength']" class="text-sm text-red-600 mt-1">
          ⓘ O nome deve ter no mínimo 3 caracteres.
        </div>
        <div *ngIf="Name?.errors?.['maxlength']" class="text-sm text-red-600 mt-1">
          ⓘ O nome deve ter no máximo 10 caracteres.
        </div>
        <div *ngIf="Name?.errors?.['namePattern']" class="text-sm text-red-600 mt-1">
          ⓘ O nome deve ser alfanumérico.
        </div>
        <div *ngIf="Name?.errors?.['nameExists']" class="text-sm text-red-600 mt-1">
          ⓘ Este nome de usuário já está em uso.
        </div>
      </div>

      <!-- E-mail -->
      <div class="flex flex-col">
        <label for="email" class="text-sm font-medium text-gray-700">E-mail</label>
        <input type="email" id="email" formControlName="email" placeholder="usuario@gmail.com"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-sm text-red-600 mt-1">
          ⓘ O formato do e-mail é inválido!
        </div>
      </div>

      <!-- CPF -->
      <div class="flex flex-col">
        <label for="cpf" class="text-sm font-medium text-gray-700">CPF</label>
        <input type="text" id="cpf" formControlName="cpf" placeholder="123.456.789-00"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
      </div>

      <!-- Senha -->
      <div class="flex flex-col">
        <label for="password" class="text-sm font-medium text-gray-700">Senha</label>
        <input type="password" id="password" formControlName="password" pInputText placeholder="•••••••••"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
        <ul class="mt-2 space-y-1">
          <div *ngIf="password?.errors?.['passwordPattern']" class="text-sm text-red-600">
            ⓘ A senha precisa conter pelo menos uma letra maiúscula e um número.
          </div>
          <div *ngIf="password?.errors?.['minlength']" class="text-sm text-red-600">
            ⓘ A senha precisa ter mais de 3 caracteres.
          </div>
        </ul>
      </div>

      <!-- Tipo de Licença -->
      <div class="flex flex-col">
        <label for="license" class="text-sm font-medium text-gray-700">Tipo de Licença</label>
        <p-dropdown [options]="licenseOptions" formControlName="license" placeholder="Selecione uma licença"
                    optionLabel="label" optionValue="value" class="w-full"></p-dropdown>
      </div>

      <!-- Botão de Enviar -->
      <button type="submit" [disabled]="profileForm.invalid"
        class="w-full py-3 mt-4 rounded-lg text-white font-semibold bg-gradient-to-r from-blue to-green hover:from-blue hover:to-green focus:outline-none focus:ring-2 focus:ring-green transition duration-300">
        Registrar novo usuário
      </button>
    </form>
  </p-dialog>
  

  <!-- Editar -->
  <p-dialog [modal]="true" [(visible)]="visibleEdit" [style]="{ width: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="pb-5 text-center font-sans font-regular text-2xl text-transparent bg-gradient-to-r from-blue to-green inline-block bg-clip-text">
      Editar usuário existente
    </div>
    <form [formGroup]="editForm" (ngSubmit)="handleEditSubmit()">
      <!-- Nome -->
      <div class="flex flex-col">
        <label for="editName" class="text-sm font-medium text-gray-700">Nome</label>
        <input type="text" id="editName" formControlName="Name" placeholder="Nome"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
      </div>
  
      <!-- E-mail -->
      <div class="pt-5 flex flex-col">
        <label for="editEmail" class="text-sm font-medium text-gray-700">E-mail</label>
        <input type="email" id="editEmail" formControlName="email" placeholder="E-mail"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
      </div>
  
      <!-- CPF -->
      <div class="pt-5 flex flex-col">
        <label for="editCpf" class="text-sm font-medium text-gray-700">CPF</label>
        <input type="text" id="editCpf" formControlName="cpf" placeholder="CPF"
          class="shadow-inner bg-white border border-gray-300 text-gray-900 rounded-lg p-3 focus:ring-2 focus:ring-green focus:outline-none transition duration-300" />
      </div>
  
      <!-- Tipo de Licença (Fixa/Dinâmica) -->
       
      <div class="flex flex-col">
        <label for="license" class="text-sm font-medium text-gray-700">Tipo de Licença</label>
        <p-dropdown [options]="licenseOptions" formControlName="license" placeholder="Selecione uma licença"
                    optionLabel="label" optionValue="value" class="w-full"></p-dropdown>
                   
      </div>
  
      <!-- Botão de Salvar -->
      <button type="submit"   
        class="w-full py-3 mt-4 rounded-lg text-white font-semibold bg-gradient-to-r from-blue to-green hover:from-blue hover:to-green focus:outline-none focus:ring-2 focus:ring-green transition duration-300">
        Salvar
      </button>
    </form>
  </p-dialog>

  <p-dialog [modal]="true" [(visible)]="visibleConfig" [style]="{ width: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="pb-5 text-center font-sans font-regular text-2xl text-transparent bg-gradient-to-r from-blue to-green inline-block bg-clip-text">
      Configuração de licenças dinâmicas
    </div>
    <div class="shadow-md border-1 border-gray-100 text-gray-400 p-3 rounded-3xl grid grid-cols-2 mt-10 bg-white">
      <div class="col-span-2">
        <h3 class="text-center mb-4">Limite de Licenças Dinâmicas</h3>
        <div class="flex items-center gap-4">
          <span>0</span>
          <p-slider [(ngModel)]="MAX_DYNAMIC_LICENSES" 
                    [min]="0" 
                    [max]="10" 
                    [step]="1"
                    class="w-full">
          </p-slider>
          <span>{{MAX_DYNAMIC_LICENSES}}</span>
        </div>
      </div>
    </div>
  
  </p-dialog>
