<div class="h-screen  flex items-center justify-center bg-white-100">
    <div class="h-screen flex items-center justify-center bg-white-100"> 
        <p-toast></p-toast> 
            <div class="h-fit items-center justify-center gap-3 ">
                <img alt="logo" class="ml-10 flex flex-col  gap-2 items-center justify-center align-middle h-40 w-40"src="/logodigi.png">
                <div class="font-sans flex flex-col gap-2 mb-5 justify-items-center text-center text-3xl p-3 text-blue" style="font-family: Montserrat Alternates">
                    Bem Vindo!
                </div>

                <!-- LOGIN-->
                <form [formGroup]="loginForm">

                    <div class="relative z-0 flex flex-col mb-5 drop-shadow-md">
                        <p-iconfield>
                            <p-inputicon class="pi pi-user" style="color: #3F3E3E"/>
                            <input class= "w-full" style="color: #3F3E3E" pInputText placeholder="Usuário" formControlName="Name" />        
                        </p-iconfield>
                        </div>
    
                        <div class="flex flex-col drop-shadow-md" >
                            <p-iconfield>
                                <p-inputicon class="pi pi-lock "style="color: #3F3E3E" />
                                <input class= "w-full" style="color: #3F3E3E" type="password" id="password" pInputText placeholder="Senha" formControlName="password" />
                            </p-iconfield>
                        </div>
    
                        
                        <div class="w-full z-20 flex flex-col  text-gray-900 mt-5 drop-shadow">
                            <p-datepicker 
                            inputId="loginDate" 
                            formControlName="loginDate" 
                            showIcon="true" 
                            dateFormat="dd/mm/yy"
                            ></p-datepicker>
                        </div>
                        <div class="z-10 flex flex-col gap-2 pt-4 mt-5">
                            <button iconPosition="left" 
                                    (click)="onSubmit()"
                                    [ngClass]="{
                                          
                                        'bg-gray-300 cursor-not-allowed': loginForm.invalid  
                                      }"
                                    [disabled]="loginForm.invalid"         
                                    class=" shadow-lg drop-shadow cursor-pointer border-1 hover:bg-blend-hard-light  bg-gradient-to-r from-blue to-green shadow-xl rounded-xl text-xl font-medium p-2 text-white">
                                Entrar
                            </button>
                            <div *ngIf="Name?.errors?.['required'] && password?.errors?.['required']" class="text-center mt-3 text-sm text-blue">
                                ⓘ Preencha todos os campos
                            </div>
                            <button (click)="showDialog()" label="Show" class="pt-5 hover:underline cursor-pointer">Esqueci minha senha</button>
                                <p-dialog header="Mudar senha" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                                    <span class="p-text-secondary block mb-8">Um código de recuperação será enviado no seu e-mail</span>
                                    <div class="flex items-center mb-4">
                                        <p-iconfield>
                                            <p-inputicon class="pi pi-envelope "style="color: #3F3E3E" />
                                            <input class= "w-full" style="color: #3F3E3E" type="email" id="email" pInputText placeholder="E-mail"  />
                                        </p-iconfield>
                                    <button label="Cancel" class="bg-blue text-white rounded-md p-2 ml-3 hover:bg-green" (click)="visible = false">Salvar</button>
                                    </div>
                                    
                                </p-dialog>
                        </div>
                </form>
            </div>
        </div>    
     
      
        
