@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "primeicons/primeicons.css";
@import "tailwindcss";


html, body {
  font-family:Montserrat;
}
@theme {
    --color-blue: #068a8f;
    --color-green: #71B66F;
    --color-black: #2d2d2d;
    --color-purple: #9871f3;
    --color-danger: #F05D6C;

    --color-gray-100: #DAE4F2;
    --color-gray-200: #C8D0DA;
    --color-gray-300: #95A1B1;
    --color-gray-400: #6F7D90;
    --color-gray-500: #2A313C;
    --color-gray-600: #21252C;
    --color-gray-800: #13161B;
    --color-gray-900: #3F3E3E;
    --color-orange-200: #c2410c;
    --color-orange-100: #ffedd5;
    --color-white-100: #F8F9FA;
    --color-stroke-100: #DBE2EC;

    --radius-xl: 0.625rem;
}

/* Scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f1f5; /* Cor do fundo (gray-800) */
}

::-webkit-scrollbar-thumb {
  background: #f0f1f5; /* Cor do thumb (purple-500) */
  border-radius: 9999px; /* Arredondamento total */
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #068a8f #f0f1f5; /* thumb e track */
}


